In [2]:
a=(37<39)
print(a)

True

In [3]:
x=2+5J
print(x.real)

2.0

In [4]:
x=2+5J
print(x.imag)

5.0

In [5]:
x=2+5J
print(x.real,x.imag)

2.0 5.0

In [ ]:
import datetime
x=datetime.datetime.now()
print("current time:- ",x)

In [10]:
time=("%y - %m - %d - %H - %m - %S")
print(time.now())

AttributeError: 'str' object has no attribute 'now'

In [14]:
a=8.2e3
print(a)

8200.0

In [16]:
a=str("Shashwat")
print(a)

Shashwat

In [20]:
t=int(input("enter the time in minutes: "))
hours=t/60
mins=t%60
print("hours are: ",hours)
print("minutes are: ",mins)

enter the time in minutes: 890
hours are:  14.833333333333334
minutes are:  50

In [21]:
p=int(input("enter the value of principal: "))
r=int(input("enter the annual rate of interest: "))
t=int(input("enter the time period in years: "))
si=p*r*t/100
amount=p+si
print("simple interest is Rs",si)
print("amount= ",amount)

enter the value of principal: 12000
enter the annual rate of interest: 2
enter the time period in years: 3
simple interest is Rs 720.0
amount=  12720.0

In [20]:
this_is_tuple=("shashwat","why_its_always_me","shake")
print(this_is_tuple)
#tuple is not ordered,changeable after writing the code

('shashwat', 'why_its_always_me', 'shake')

In [65]:
this_is_list=["Shashwat","prince","aditi"]
print(this_is_list)
print(this_is_list[0:2])
this_is_list.remove("prince")
print("now prince has been removed from this_is_list ")
print(this_is_list)
#List is ordered,changeable after writing the code

['Shashwat', 'prince', 'aditi']
['Shashwat', 'prince']
now prince has been removed from this_is_list
['Shashwat', 'aditi']

In [31]:
this_is_dictionary={"Brand":"Ford","Model":"Mustang","year":"1900"}
print(this_is_dictionary)
#Dictionary is unordered,changeable and indexed

{'Brand': 'Ford', 'Model': 'Mustang', 'year': '1900'}

In [38]:
#if control statement
a=2
if(a>6):
    print("a is greater than 6 ")
print("finished of the program")

finished of the program

In [39]:
#if-else control statement
a=2
if(a>6):
    print("a is greater than 6 ")
else:
    print("a is smaller than 6 ")
print("finished of the program")

a is smaller than 6
finished of the program

In [40]:
#nested if-else control statement
a=2
if(a>6):
    print("a is greater than 6 ")
if(a>3):
    print("a is smaller than 6 but greater than 3 ")
if(a==2):
    print("a has integer value 2 ")
else:
    print("we don't know value of a")
print("finished of the program")

a has integer value 2
finished of the program

In [11]:
#for loop
for i in range(1,3):
    for j in range(1,16):
        k=i*j
        #now everything should print in next line right so we will do this
        print(k,end='')
        #it will print k and everytime the k changes, it will print changed k in next line. 
        print()
#it will print table or should i say it will multiply 1, 15 times and print it and the same same goes for 2.
#3 and 16 will be ignored throughout this process

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [5]:
#for loop without breaks is like a ferrari where mechanic has forgot to install emergency breaks
i=2
while i<8:
    print(i)
    i+=2

2
4
6

In [10]:
#for loop with some breaks
i=2
while i<25:
    print(i)
    if i==3:
        break
    i+=2

2
4
6
8
10
12
14
16
18
20
22
24

In [9]:
list=[3,5,9]
print(list[0])
print(list[1])
print(list[2])
print("negative indexing")
print(list[-1])
print(list[-2])
print(list[-3])
print("slicing of list")
print(list[0:3])
print(list[1:3])
print(list[3:])
print(list[:])
print("printing the list")
print(list)
print("reversing the list")
try:
    (print(list.reverse()))
finally:
    (print("couldn't reverse"))
#as you can see, I couldn't reverse the list. i will google it later

3
5
9
negative indexing
9
5
3
slicing of list
[3, 5, 9]
[5, 9]
[]
[3, 5, 9]
printing the list
[3, 5, 9]
reversing the list
None
couldn't reverse